.vs/QuanLyBenhVien/v15/Server/sqlite3/storage.ide-shm
.vs/QuanLyBenhVien/v15/Server/sqlite3/storage.ide-wal
.vs/QuanLyBenhVien/v15/.suo
QuanLyBenhVien/obj/Debug/DesignTimeResolveAssemblyReferences.cache
QuanLyBenhVien/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
QuanLyBenhVien/obj/Debug/QuanLyBenhVien.csproj.CoreCompileInputs.cache
