<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
    <add name="KetNoiSQL" connectionString="data source=45.119.85.244;user id=QLBV;password=QLBV@123;initial catalog=QLBV;Persist Security Info=true" />
  </connectionStrings>
</configuration>